{% extends 'base.html' %}

{% block content %}

    <h2>History</h2>

    <body>
    <table>
        <tr>
            <th>First Number</th>
            <th>Operator</th>
            <th>Second Number</th>
            <th>Result</th>
            <th>Created At (IST)</th>
        </tr>
        {% for line in data %}
        <tr>
            <td>{{ line.first_number }}</td>
            <td>{{ line.operator}}</td>
            <td>{{ line.second_number }}</td>
            <td>{{ line.Result }}</td>
            <td>{{ line.Created_on }}</td>
        </tr>
        {% endfor %}
    </table>
    </body>

{% endblock %}