{% extends 'base.html' %}

{% block content %}

<h2>Show History</h2>

<table>
  <thead>
    <tr>
      <th><td>First Number<td></th>
      <th><td>Operator</td></th>
      <th><td>Second number<td></th>
      <th><td>Result</td></th>
      <th><td>Created At<td></th>
    </tr>
  </thead>
  <tbody>
    {% for calculation in Operations %}
      <tr>
        <td>{{ calculation.first_number }}</td>
        <td>{{ calculation.operator }}</td>
        <td>{{ calculation.second_number }}</td>
        <td>{{ calculation.result }}</td>
        <td>{{ calculation.created_at }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}